*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.box{
    height: 400px;
    width: 400px;
    background-color: aliceblue;
    padding: 60px;
    border-radius: 10px;
}
h1{
    color:blue;
    text-align: center;
    margin: 10px;
}
label{
    font-size: 25px;
    font-weight: 600px;
}
input{
    width: 100%;
    height: 30px;
    padding: 10px;
    font-size: 20px;
    margin-bottom: 20px;
}
button{
    justify-content: center;
    text-align: center;
}