/* Box Model */
*{
    margin: 0px;
    padding: 0px;
}
h1{
    background-color: orange;
    height: 300px;
    width: 300px;
    /* border-width: 10px;
    border-style: solid;
    border-color: green; */
    /* border: 10px solid green; */
    padding: 30px 20px;
    border: 10px solid rgb(154, 229, 23);
    border-radius: 20px;
    /* display: inline; */
    display: inline-block;
    box-sizing: border-box;
}
h2{
    background-color: pink;
    border: 2px solid blue;
    height: 200px;
    width: 200px;
    box-sizing: border-box;
    /* display: inline; */
    display: inline-block;
}
p{
    background-color: antiquewhite;
    padding: 20px;
    border: 5px solid blue;
    margin: 15px;
    display: inline-block;
}
span{
    color: blue;
    height: 200px;
    width: 200px;
    margin-left: 30px;
    margin-right: 20px;
    padding-left: 30px;
    padding-right: 30px;
    /* display: block; */
    display: inline-block;
    
}