*{
    margin: 0;
    padding: 0;
}
.container{
    background-color: black;
    height: 800px;
    width: 800px;
    display: grid;
    grid-template-columns: repeat(8,1fr);
    grid-template-rows: repeat(8,1fr);
    background-color: pink;

}
.white{
    background-color: white;
}
.brown{
    background-color: brown;
}