*{
    padding: 0;
    margin: 0;
}
body{
    background-color: black;
    color: white;
    font-size: 40px;
}
.container{
    display: grid;
    height: 800px;
    width: 800px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 2fr 2fr 1fr;
    gap: 5px;

}
.Box{
    background-color: rgb(18, 128, 224);
}
.Header{
    grid-column-start: 1 ;
    grid-column-end: 4;
}
.Sidebar{
    grid-row-start: 2 ;
    grid-row-end: 4;
}
.Content1{grid-column: 2/4;}
/* .Content2{} */
.Footer{grid-column:1/4 ;}