*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 40px;
}
body{
    background-color: rgb(231, 207, 207);
}
.container{
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    /* margin: 10px; */
    padding: 10px;
    gap: 10px;
    height: 400px;
    width: 400px;
    background-color: black;

}
.first{
    background-color: red;
}
.second{
    background-color: blue;
}
.third{
    background-color: blueviolet;
}
.fourth{
    background-color: chocolate;
}